#root {
  max-width: auto;
  margin: 0 auto;
  padding: 0.5vh 1vw;
  text-align: center;
}
#header-img-1{
  border-radius: 50%;
  max-width: 20vw;
  max-height: 20vh;
  height: auto;
  margin: auto;
  margin-top: 5vh;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
